{{!-- New post - form with title and content to submit --}}

<div class="border">
<div class="container-sm my-3 d-grid gap-2">
    <div class="row">
        <div class="col">
            Create New Post
        </div>
    </div>
</div>
<div class="container-sm my-3 d-grid gap-2">
    <div class="row">
        <form id="createPost">
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <br><input class="form-control" type="textarea" id="title">
            </div>
            <div class="mb-3">
                <label for="Content" class="form-label">Content:</label>
                <br><input class="form-control" type="textarea" id="content">
                </div>
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>
    </div>
</div>
</div>