//handlebars to list titles / dates of the posts
{{#each blog_post}}
<div class="container-sm my-3 d-grid gap-2">
    <button class="btn btn-primary" type="button">
    <div class="row">
    <div class="col-8">
        {{title}}
    </div>
    <div class="col-4">
        <p class="text-end">{{date}}</p>
    </div>
    </div>
    </button>
</div>
{{/each}}