//handlebars to list titles / dates of the posts

<div class="container-sm my-3 d-grid gap-2">
    <button class="btn btn-primary" type="button">
    <div class="row">
    <div class="col-8">
        This will be the title of the blog post.
    </div>
    <div class="col-4">
        <p class="text-end">Date</p>
    </div>
    </div>
    </button>
</div>